<div class="col-3">
<div>
    <a href="/course/<%= course.id %>">
        <img src="<%= domain %><%= course.media.course_image.uri %>"
        onerror="this.onerror=null; this.src='/images/default.webp';"
        alt="<%= course.name %>">
    </a>
</div>
<div>
    <a href="/course/<%= course.id %>">
        <%= course.name %>
    </a>
</div>
</div>