<tr>
    <td>
        <%= user.username %>
    </td>
    <td>
        <%= user.name %>
    </td>
    <td>
        <%= user.gender %>
    </td>
    <td>
        <%= user.year_of_birth %>
    </td>
    <td>
        <%= user.email %>
    </td>
    <td>
        <%= user.phone_number %>
    </td>
    <td>
        <%= user.country %>
    </td>
</tr>